$primaryColor: #fff;
$fontColor: #333;

body, html {
  background-color: $primaryColor;
  color: $fontColor;

  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1200px;
  height: 100%;
  background-color: #ddd;
  
  display: grid; // 网格布局
}

